.clearfix::after {
    content: "";
    display: "block";
    clear: both;
}

body {
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}

a {
    color: #91aaa9;
    text-decoration: none;
    width: 50px;
    text-align: center;
    padding: 5px 10px;
    border-right: #b9cccb 2px solid;
}
.tabs {
    float: right;
    padding-top: 20px;
}

.name {
    background-color: #4aaaa5;
    color: beige;
    width: 140px;
    height: 70px;
    padding-top: 20px;
    padding-left: 15px;
}


